// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'variables';
//Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-size: .875rem;
}

.product_image {
    object-fit: cover;
}

.font-fa {
    font-family: 'Montserrat', sans-serif;
}

.font-side {
    font-family: 'Montserrat', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.container-sm {
    max-width: 600px !important;
    height: 700px;
}

.object-fit{
    object-fit: cover;
    border-radius: 6px;
}



/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: 7px 17px 10px 0px rgb(0 0 0 / 10%);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.bg-head {
    background-color: #009688;
}

.icon-dash {
    vertical-align: sub;
    margin-right: 5px;
    font-size: 10px;
    color: #868689e0;
}

.icon-dashboard {
    background-color: #035336;
    top: -31px;
    position: absolute;
    border-radius: 0.75rem;
    padding: 15px;
    color: white !important;
}

.order {
    background-color: #D81B60 !important;
}

.btn-green {
    background-color: #426658;
}

.weekend {
    position: absolute;
    left: 70px;
    font-size: 12px;
    text-transform: uppercase;
}

.sidebar .nav-link {
    font-weight: 500;
    color: white;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #110f0f;
}

.bg-side {
    background-color: #222d32;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.not-visible {
    opacity: 0.6;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
        color: inherit;
        &:hover {
            color: purple;
        }
    }
    &:hover {
        .photo {
            transform: scale(1.3) rotate(3deg);
        }
    }
    .meta {
        position: relative;
        z-index: 0;
        height: 200px;
    }
    .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform .2s;
    }
    .description {
        padding: 1rem;
        background: white;
        position: relative;
        z-index: 1;
        h1,
        h4 {
            font-family: Poppins, sans-serif;
        }
        h1 {
            line-height: 1;
            margin: 0;
            font-size: 1.7rem;
        }
        h4 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: darkgray;
            margin-top: 5px;
        }
        .read-more {
            text-align: right;
            a {
                color: green;
                display: inline-block;
                position: relative;
                &:after {
                    content: "\f061";
                    font-family: FontAwesome;
                    margin-left: -10px;
                    opacity: 0;
                    vertical-align: middle;
                    transition: margin .3s, opacity .3s;
                }
                &:hover:after {
                    margin-left: 5px;
                    opacity: 1;
                }
            }
        }
    }
    p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
            &:before {
                content: "";
                position: absolute;
                height: 5px;
                background: green;
                width: 35px;
                top: -0.75rem;
                border-radius: 3px;
            }
        }
    }
    @media (min-width: 640px) {
        flex-direction: row;
        max-width: 1100px;
        height: 400px;
        .meta {
            flex-basis: 40%;
            height: auto;
        }
        .description {
            flex-basis: 60%;
            &:before {
                transform: skewX(-3deg);
                content: "";
                background: #fff;
                width: 30px;
                position: absolute;
                left: -10px;
                top: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        &.alt {
            flex-direction: row-reverse;
            .description {
                &:before {
                    left: inherit;
                    right: -10px;
                    transform: skew(3deg)
                }
            }
        }
    }
}