// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-head {
    background-color: #009688;
}

.btn-large{
    padding: 8px 30px !important;
    margin-top: 1rem;
    background-color: #2c1e4ec9;
}

.btn-sm{
    padding: 5px 20px !important; 
    background-color: #2c1e4ec9;
}

.form-label{
    font-size: 14px;
    font-weight: 600;
}

.bg-color-body{
    background-color: #deefdb;
}

.bg-card{
    background-color: #2c1e4ec9;
}

h5{
    font-family: 'Open Sans', sans-serif;
}

.logo-nav{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

